.bttn {
    width: 100%;
    height: 2.75rem;
    border-radius: 2rem;
    background-color: var(--text);
    border: 0;
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
}

.bttn:hover {
    cursor: pointer;
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}