.card {
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultHeader {
    color: var(--light-lavender);
}

span, p {
    color: var(--light-lavender);
}

.rating {
    color: var(--white);
}