.card {
    --overlap: 5rem;
    --padding: 2rem;
    background-color: var(--white);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin-left: calc(var(--overlap) * -1);
    padding: var(--padding);
    padding-left: calc(var(--overlap) + var(--padding));
    padding-top: 1.5rem;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

h2 {
    color: var(--text);
    font-size: 1.25rem;
}

.scoreCellContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.summaryHeader {
    align-self: flex-start;
}

@media (max-width: 575px) {
    .card {
        --overlap: 5rem;
        --padding: 2rem;
        width: calc(100% - (2 * var(--padding)));
        padding: var(--padding);
        padding-top: calc(var(--overlap) + 0.5rem);
        margin: 0;
        margin-top: calc(var(--overlap) * -1);
        border-radius: 0;
        flex: 1;
    }

    .scoreCellContainer {
        margin-bottom: 1.5rem;
    }
}